@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
}
body {
  background-color: #2e3532;
}
header {
  display: flex;
  justify-content: center;
  background-color: #49525a;
  color: #ffffff;
  width: 100vw;
  margin-bottom: 1vh;
  position: relative;
  font-family: "roboto slab", serif;
  h1 {
    font-size: 25px;
  }
  button {
    position: absolute;
    left: 1%;
    top: 25%;
    cursor: pointer;
  }
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  nav {
    width: 30%;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-around;
    button {
      background: none;
      border: none;
      font-size: 30px;
      color: #b6f4c0;
      cursor: pointer;
    }
  }
}

#capygrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3vh;
  column-gap: 2vw;
  width: fit-content;
  height: fit-content;
  .capyCard {
    background-color: #7e9181;
    border: 3px solid #67796c;
    box-sizing: content-box;
    width: 20vw;
    height: 25vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: fit-content;
      height: 50%;
      object-fit: cover;
    }
    div {
      margin-top: 2vh;
      background-color: #dadde7;
      padding: 5px;
      border-radius: 2px;
    }
  }
}
.sideButton {
  border: 0;
  background: none;
}
#sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #49525a;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    position: absolute;
    top: 1%;
    left: 90%;
  }
  select {
    margin-top: 4px;
    min-width: 60%;
  }
  label {
    min-width: 40%;
  }
}
.tablinks {
  background-color: transparent;
  transition: background 0.5s;
}
.tablinks.active {
  display: blocks;
}
.tabcontent {
  display: none;
}
#adopt {
  position: absolute;
  form {
    position: fixed;
    top: 20%;
    left: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 10vh;
    max-width: 20vw;
    border: 1px solid #67796c;
    background-color: #7e9181;
    border-radius: 5px;
    padding: 10%;

    img {
      height: 50%;
      width: 30%;
      position: absolute;
      top: -5%;
      left: 65%;
    }

    div {
      margin-top: 2vh;
    }
    input {
      background: none;
      border: none;
      border-bottom: 1px solid #67796c;
      outline: none;
    }
    #fieldWhy {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      input {
        margin-top: 1vh;
        width: 30vw;
        height: 15vh;
        border: 1px solid #67796c;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 1vh;
      }
    }
  }
  #submit {
    align-self: center;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background: none;

    transition-property: border-color, border-color;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    border-color: #67796c;
    border-width: 2px;
    border-style: solid;
    :hover {
      border-width: 4px;
      border-color: #0000;
    }
  }
}
#modal {
  display: none;
  width: 30vw;
  height: fit-content;
  background-color: #7e9181;
  border: 1px solid #67796c;
  border-radius: 5px;
  position: fixed;
  top: 15%;
  left: 35%;
  z-index: 1;
  #modalContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 80%;
      text-align: center;
      font-size: 2.1vw;
      color: #fff;
    }
    button {
      align-self: center;
      border-radius: 5px;
      padding: 5px 10px 5px 10px;
      background: none;

      transition-property: border-color, border-color;
      transition-timing-function: ease;
      transition-duration: 0.5s;
      border-color: #67796c;
      border-width: 2px;
      border-style: solid;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  }
}
#closeModal {
  background: none;
  border: none;
}
.carrossel {
  height: 50vh;
  width: 40vw;
  border: 2px solid #67796c;
  border-radius: 5px;
  background-color: #7e9181;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
}
.gallery-image {
  display: none;
  img {
    max-width: 85%;
    height: object-fit;
  }
}
.galleryNavButton {
  background: none;
  border: none;
  cursor: pointer;
}
#next {
  position: absolute;
  top: 50%;
  right: 0;
}
#prev {
  position: absolute;
  top: 50%;
  left: 0;
}
#block {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.271);
}
